.container {
  background-color: #80d4ff;
  height: 100%;
}
img {
  opacity: 0.5;
}
img:hover {
  opacity: 1.0;
}

.fade{
  opacity: 0.3;
  -moz-transition: opacity 0.5s, -moz-transform ease-in-out 0.5s;
  -webkit-transition: opacity 0.5s, -moz-transform ease-in-out 0.5s;
  -o-transition: opacity 0.5s, -moz-transform ease-in-out 0.5s;
  transition: opacity 0.5s, -moz-transform ease-in-out 0.5s;
}
